* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
#ad {
  margin: 40px auto;
  width: 40%;
}
#ad > img {
  width: 100%;
}
#main {
  border: 1px solid teal;
  margin: auto;
  width: 60%;
  display: flex;
  gap: 10px;
}
#left {
  border: 1px solid red;
  width: 70%;
  position: relative;
}
.heading {
  /* border: 1px solid red; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 27px;
  text-align: center;
  position: relative;
}

.heading > span {
  display: block;
  margin: auto;
  width: 15%;
  height: 8px;
  background-color: #fad65f;
  font-size: 27px;
  /* position: relative; */
}
.heading > span::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: 2px;
  border-bottom: #707070 solid 1px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(112, 112, 112);
  z-index: -1;
}
.heading > span::after {
  content: "";
  position: absolute;
  left: 40%;
  right: 50%;
  top: 60%;
  width: 20%;
  height: 20px;
  z-index: -1;
  background-color: white;
}
.ad1 {
  border: 1px solid red;
  margin: 10px 0px;
}
.ad1 > a {
  font-size: 18px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  color: black;
  text-decoration: none;
}
#most_read {
  border: 1px solid blue;
  height: 200px;
}
.carousel1 {
  border: 1px solid green;
  margin: 10px;
  height: 200px;
}
.container {
  border: 1px solid violet;
  margin: 10px;
  height: 200px;
}
#right {
  border: 1px solid orange;
  width: 30%;
}
#mr {
  position: relative;
  font-size: 20px;
}
#mr::before {
  content: "MOST READ";
  position: absolute;
  left: -6px;
  top: -6px;
  font-size: 25px;
  opacity: 0.1;
}
#mr > span {
  position: absolute;
  display: block;
  height: 0.1%;
  width: 50%;
  top: 18px;
  background-color: #fad65f;
  padding: 0.5%;
  z-index: -1;
}
