#heading{
    margin:20px auto;
    width: fit-content;
}
#container{
    display: flex;
    border: 1px solid none;
    width: 70%;
    margin: auto;
}
#news{
    margin-top: 50px;
    border: 1px solid none;
    width: 600px;
    
}
#side{
 
    font-family: 'Playfair Display', serif;
    border: 1px solid none;
    width:30%;
    padding:20px;
   
}
.news_image{
  width:600px;
  height: 300px;
}
.sidebar{
    width: 200px;
    margin: 10px;
}
#news>h2{
    font-family: 'Playfair Display', serif; 
}
#news>p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
#news{
    cursor: pointer;
}
/* #image_long{
    height:600px;
} */
