#heading{
    margin:20px auto;
    width: fit-content;
}
#container{
    display: flex;
    border: 1px solid red;
    width: 70%;
    margin: auto;
}
#news{
    border: 1px solid teal;
    width: 60%;
    
}
#side{
 
    
    border: 1px solid yellowgreen;
    width:40%;
   
}
