*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#ad{
    width: 60%;
    margin: 20px auto;

}
#ad>img{
    width: 100%;
}
#main{
    margin:20px auto;
    width: 70%;
    display: flex;
}
#left{

    width: 70%;
    margin: 10px;
}
#right{
    width: 30%;
    margin: 10px;
}
.ad1{
    margin: 10px auto;
    width: 100%;
}
.ad1>img{
    width: 100%;
}
#news{
    width: 100%;
    margin: 10px auto;
}
#alsocont{
    width: 100%;
}
#extra{
    font-family: 'Playfair Display', serif;
    padding: 5px;
}
#extra>img{
    width: 100%;
}
#ex{
    font-family: 'Playfair Display', serif;
    text-decoration: underline;
}
#news>img{
    width: 100%;
}
#alsocont{
    margin: 10px;
    position: relative;
    margin-bottom: 100px;
  }
  #alsocont>div:first-child{
    cursor: pointer;
  }
  #alsocont>div>div:first-child>img{
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    object-fit: contain;
  }
  #alsocont>div>div:last-child>h3{
    font-family: "Playfair Display", serif;
    font-size: 24px;
    padding: 5px;
  }
  #alsocont>div>div:last-child{
    cursor: pointer;
    position: absolute;
    z-index: 3;
    margin-top: -120px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: #efefef;
    cursor: pointer;
  }
  #alsocont>div>div:last-child>p{
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
    margin: 10px 20px;
    font-weight: 400;
    letter-spacing: 0;
  }